/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** font **/
  --ion-font-family: 'Lato', sans-serif;

  --ion-avatar-background: var(--app-step-300);
  --ion-avatar-inner-border: var(--ion-background-color); /* light color */
  --ion-avatar-outer-border: var(--app-step-300); /* dark color */

  --ion-background-color: var(--app-step-150);
  --ion-background-color-rgb: 248,249,250;
  --ion-item-background: var(--app-step-50);
  --numeric-keypad-btn-bg: var(--app-step-350);
  --selected-bg: var(--app-step-250);

  --input-border-width: 1px;
  --input-border-color: var(--app-step-350); /* input bottom border */
  --ion-gradient-card: var(--app-step-50);

  --ion-color-note: #666666;
  --logo-picker: #cccccc;
  --icon-picker-font: #61666c;
  --icon-picker-bgk: var(--app-step-50);
  --icon-picker-border: #dfe0e0;

  --ion-tooltip-background-rgb: 247,249,252;

  --error-msg-color: #FF3B30;
  --category-icon: #DFDFDA;
  --ion-bar-color: var(--app-step-50);  
  --trip-card-background: var(--app-step-450);


	--ion-text-color: #2E353D;
	--ion-text-color-rgb: 46,53,61;

	--ion-text-color-step-50: #383f46;
	--ion-text-color-step-100: #424950;
	--ion-text-color-step-150: #4c5259; 
	--ion-text-color-step-200: #565c63;
	--ion-text-color-step-250: #61666c;
	--ion-text-color-step-300: #6b7076;
	--ion-text-color-step-350: #757a7f;
	--ion-text-color-step-400: #7f8389;
	--ion-text-color-step-450: #898d92;
	--ion-text-color-step-500: #93979c;
	--ion-text-color-step-550: #9da1a5;
	--ion-text-color-step-600: #a7abae;
	--ion-text-color-step-650: #b1b4b8;
	--ion-text-color-step-700: #bbbec1;
	--ion-text-color-step-750: #c6c8cb;
	--ion-text-color-step-800: #d0d2d4;
	--ion-text-color-step-850: #dadcde;
	--ion-text-color-step-900: #e4e5e7;
	--ion-text-color-step-950: #eeeff1;

	--ion-background-color-step-50: #eeeff1;
	--ion-background-color-step-100: #e4e5e7;
	--ion-background-color-step-150: #dadcde;
	--ion-background-color-step-200: #d0d2d4;
	--ion-background-color-step-250: #c6c8cb;
	--ion-background-color-step-300: #bbbec1;
	--ion-background-color-step-350: #b1b4b8;
	--ion-background-color-step-400: #a7abae;
	--ion-background-color-step-450: #9da1a5;
	--ion-background-color-step-500: #93979c;
	--ion-background-color-step-550: #898d92;
	--ion-background-color-step-600: #7f8389;
	--ion-background-color-step-650: #757a7f;
	--ion-background-color-step-700: #6b7076;
	--ion-background-color-step-750: #61666c;
	--ion-background-color-step-800: #565c63;
	--ion-background-color-step-850: #4c5259;
	--ion-background-color-step-900: #424950;
	--ion-background-color-step-950: #383f46;

  /* 
    Step scale (light mode)
    darker = higher number 
  */
  --app-step-50:  #ffffff;
  --app-step-100: #f8f9fa;
  --app-step-150: #f1f3f5;
  --app-step-200: #e9ecef;
  --app-step-250: #dee2e6;
  --app-step-300: #ced4da;
  --app-step-350: #adb5bd;
  --app-step-400: #868e96;
  --app-step-450: #6c757d;
  --app-step-500: #495057;
  --app-step-550: #343a40;
  --app-step-600: #212529;
  --app-step-650: #1c1f23;
  --app-step-700: #181a1d;
  --app-step-750: #141618;
  --app-step-800: #101214;
  --app-step-850: #0c0d0f;
  --app-step-900: #08090a;
  --app-step-950: #040405;


  --ion-color-primary: #0054e9;
	--ion-color-primary-rgb: 0,84,233;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #004acd;
	--ion-color-primary-tint: #1a65eb;

	--ion-color-secondary: #0163aa;
	--ion-color-secondary-rgb: 1,99,170;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #015796;
	--ion-color-secondary-tint: #1a73b3;

	--ion-color-tertiary: #6030ff;
	--ion-color-tertiary-rgb: 96,48,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #542ae0;
	--ion-color-tertiary-tint: #7045ff;

	--ion-color-success: #008800;
	--ion-color-success-rgb: 0,136,0;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #007800;
	--ion-color-success-tint: #1a941a;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #e53935;
	--ion-color-danger-rgb: 229,57,53;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #ca322f;
	--ion-color-danger-tint: #e84d49;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade; 
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

/*
* Dark Colors
* -------------------------------------------
*/

body.dark {
  --ion-background-color: var(--app-step-150);
  --ion-background-color-rgb: rgb(16, 18, 20);
  --ion-text-color: var(--app-step-700);
  --ion-text-color-rgb: 245,245,245;

  --ion-gradient-card: #000000;
  --trip-card-background: var(--app-step-450);
 
  --ion-item-background: #1c1c1c;
  --ion-item-background-rgb: 28,28,28;
  --numeric-keypad-btn-bg: #28292A;
  --ion-item-border: transparent;
  --ion-item-border-color: var(--app-step-400);
  --input-border-color: var(--app-step-400);
  --selected-bg: var(--app-step-350);

  --ion-avatar-background: var(--app-step-400);
  --ion-avatar-inner-border: var(--ion-background-color);
  --ion-avatar-outer-border: var(--app-step-400);

  --ion-color-note: #888888;
  --logo-picker: var(--ion-color-light);
  --icon-picker-font: #d9d9d9;
  --icon-picker-bgk: #1b1b1b;
  --icon-picker-border: #404040;

  --ion-tooltip-background-rgb: 56,58,62;

  --error-msg-color: #D9534F;

  /* 
    Step scale (dark mode)
    lower number = darker
    higher number = lighter 
  */
  --app-step-50:  #08090a;
  --app-step-100: #0c0d0f;
  --app-step-150: #101214;
  --app-step-200: #141618;
  --app-step-250: #181a1d;
  --app-step-300: #1c1f23;
  --app-step-350: #212529;
  --app-step-400: #343a40;
  --app-step-450: #495057;
  --app-step-500: #6c757d;
  --app-step-550: #868e96;
  --app-step-600: #adb5bd;
  --app-step-650: #ced4da;
  --app-step-700: #dee2e6;
  --app-step-750: #e9ecef;
  --app-step-800: #f1f3f5;
  --app-step-850: #f8f9fa;
  --app-step-900: #ffffff;
  --app-step-950: #ffffff;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-item-background: #1b1b1b;
  --ion-tab-bar-background: #1f1f1f;
  --ion-card-background: #1e1e1e;
  --ion-bar-color: #fff;

}
  
/*
  * iOS Dark Theme
  * -------------------------------------------
  

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #F5F5F5;
  --ion-text-color-rgb: 245,245,245;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-card-background: #1c1c1d;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}
  */
  
/*
  * Material Design Dark Theme
  * -------------------------------------------
  

.md body.dark {
  --ion-background-color: red;
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #F5F5F5;
  --ion-text-color-rgb: 245,245,245;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1b1b1b;
  --ion-tab-bar-background: #1f1f1f;
  --ion-card-background: #1e1e1e;
  --ion-bar-color: #fff;
}
  */


/* You can define different primary colors for other themes */

.theme-red {
  --ion-color-primary: #cd1c18;
	--ion-color-primary-rgb: 205,28,24;
  --ion-color-primary-selected: rgba(205, 28, 24, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #b41915;
	--ion-color-primary-tint: #d2332f;
}

.theme-redOrange {
  --ion-color-primary: #E74017;
	--ion-color-primary-rgb: 231,64,23;
  --ion-color-primary-selected: rgba(231, 64, 23, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #cb3814;
	--ion-color-primary-tint: #e9532e;
}

.theme-orange {
  --ion-color-primary: #FF6A00;
	--ion-color-primary-rgb: 255,106,0;
  --ion-color-primary-selected: rgba(255, 106, 0, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e05d00;
	--ion-color-primary-tint: #ff791a;
}

.theme-yellowOrange {
  --ion-color-primary: #FFA500;
	--ion-color-primary-rgb: 255,165,0;
  --ion-color-primary-selected: rgba(255, 165, 0, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e09100;
	--ion-color-primary-tint: #ffae1a;
  --button-text-color: #000000; /* New variable for button text color */
}

.theme-yellow {
  --ion-color-primary: #ffc600;
	--ion-color-primary-rgb: 255,198,0;
  --ion-color-primary-selected: rgba(255, 198, 0, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e0ae00;
	--ion-color-primary-tint: #ffcc1a;
  --button-text-color: #000000; /* New variable for button text color */
}

.theme-yellowGreen {
  --ion-color-primary: #7BAF26;
	--ion-color-primary-rgb: 123,175,38;
  --ion-color-primary-selected: rgba(123, 175, 38, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #6c9a21;
	--ion-color-primary-tint: #88b73c;
  --button-text-color: #000000; /* New variable for button text color */
}

.theme-green {
  --ion-color-primary: #008800;
	--ion-color-primary-rgb: 0,136,0;
  --ion-color-primary-selected: rgba(0, 136, 0, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #007800;
	--ion-color-primary-tint: #1a941a;
}

.theme-cyan {
  --ion-color-primary: #008B8B;
	--ion-color-primary-rgb: 0,139,139;
  --ion-color-primary-selected: rgba(0, 139, 139, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #007a7a;
	--ion-color-primary-tint: #1a9797;
}

.theme-skyBlue {
  --ion-color-primary: #4682B4;
	--ion-color-primary-rgb: 70,130,180;
  --ion-color-primary-selected: rgba(70, 130, 180, 0.2);
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #3e729e;
	--ion-color-primary-tint: #598fbc;
}

.theme-blue {
  --ion-color-primary: #00509d;
	--ion-color-primary-rgb: 0,80,157;
  --ion-color-primary-selected: rgba(0, 80, 157, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #00468a;
	--ion-color-primary-tint: #1a62a7;
}

.theme-indigo {
  --ion-color-primary: #692A97;
	--ion-color-primary-rgb: 105,42,151;
  --ion-color-primary-selected: rgba(105, 42, 151, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #5c2585;
	--ion-color-primary-tint: #783fa1;
}

.theme-violet {
  --ion-color-primary: #6200b3;
	--ion-color-primary-rgb: 98,0,179;
  --ion-color-primary-selected: rgba(98, 0, 179, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #56009e;
	--ion-color-primary-tint: #721abb;
}

.theme-magenta {
  --ion-color-primary: #a04b90;
	--ion-color-primary-rgb: 160,75,144;
  --ion-color-primary-selected: rgba(160, 75, 144, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #8d427f;
	--ion-color-primary-tint: #aa5d9b;
}

.theme-pink {
  --ion-color-primary: #D81B60;
	--ion-color-primary-rgb: 216,27,96;
  --ion-color-primary-selected: rgba(216, 27, 96, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #be1854;
	--ion-color-primary-tint: #dc3270;
}

.theme-crimson {
  --ion-color-primary: #B22222;
	--ion-color-primary-rgb: 178,34,34;
  --ion-color-primary-selected: rgba(178, 34, 34, 0.2);
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #9d1e1e;
	--ion-color-primary-tint: #ba3838;
}


.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}


