.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 10px; /* Vertical 30px, Horizontal 10px */
  place-items: start; /* Aligns items at the start of their grid cell */
  max-width: 400px; /* Prevents full width stretching */
  width: 360px;
}

/* Used to position category icon in grid in Categories page */
.category-container {
  position: relative; /* Ensures absolute positioning works */
  width: 80px;
  padding: 10px;
}


.categories-grid-modal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0;
}

.category-container-modal {
  position: relative; /* Ensures absolute positioning works */
  width: 80px;
  margin: 0;
  padding: 0;
}


.selected-category {
  background: var(--selected-bg);
  border-radius: 8px;
  padding: 10px;
}

.parent-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parent-input button {
  background-color: transparent;
  width: 60px;
  height: 60px;
}

.parent-input ion-icon {
  font-size: 2em;
}

.merge-arrow-icon {
  font-size: 64px;
  padding: 0 10px;
}